@mixin font($size:15px,$weight:400,$line-height:19px) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    font-family: 'Roboto Mono';
}
@mixin header($size:64px,$weight:300,$line-height:76px){
    font-family: 'Rubik';
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
color: #F3F7F8;
}
@mixin  paragraph($size:16px,$weight:400,$line-height:30px) {
    font-family: 'Roboto';
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
color: #F3F7F8;
}